.nav-link{
    margin-left: 40px;
}

footer a {
  text-decoration: none;
  color: #6c757d;
}

footer a:hover {
  color: black;
}

.footer-link {
  display: block;
  margin-bottom: 12px;
}

.social_media {
  margin-top: 15px;
}
.social_media ul{
  padding-left: 0px;
}

.social_media a {
  text-decoration: none;
  margin-right: 10px;
}

.social_media i {
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 20px;
  transition: all 0.3s ease;
}

.social_media i:hover {
  color: #000;
}

.search-box {
  height:60px;
  position: relative;
  background: white;
  border: 1px solid #dbe4f0;
  border-radius: 6px;
  padding: 10px 14px;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 38px;
  font-size: 15px;
  color: rgba(0,0,0,0.75);
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(0,0,0,0.45);
}
