.nav-link{
    margin-left: 40px;
}

footer a {
  text-decoration: none;
  color: #6c757d;
}

footer a:hover {
  color: black;
}

.footer-link {
  display: block;
  margin-bottom: 12px;
}

.social_media {
  margin-top: 15px;
}
.social_media ul{
  padding-left: 0px;
}

.social_media a {
  text-decoration: none;
  margin-right: 10px;
}

.social_media i {
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 20px;
  transition: all 0.3s ease;
}

.social_media i:hover {
  color: #000;
}

